# Dot-files and directories
.*
!.gitignore
!.github

# Node.js dependencies
node_modules/
package-lock.json

# Project specific files
/.github/content-validator/node_modules
pull_request.json

# Development tools and IDEs
/.vscode
/.idea/
*.sublime-*
*.swp
*.swo
*~
.project
.settings/
*.code-workspace

# Environment and system files
.env
.DS_Store